html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Turret Road", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --black: #393e46;
  --red: #ed6663;
  --color-4: #ffc93c;
  --color-3: #07689f;
  --color-2: #40a8c4;
  --color-1: #a2d5f2;
}
