html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --black: #393e46;
  --color-1: #4e89ae;
  --color-2: #43658b;
  --color-3: #ed6663;
  --color-4: #ffa372;
  --color-5: #16213e;
  --color-6: #ffc93c;
  --color-7: #cdc9c3;
}
